@media (max-width: 768px) {
    .nav-menu {
        visibility: hidden;
    }
    .hamburger {
        display: grid;
        grid-column: end;
    
    }
    .main-section-1-h2 {
        padding: 0px;
        padding-top: 0px;
    }
    h3{
        padding: 0px;

    }
    
    .main-section-1-h2-h3{
       display: grid;
       grid-template-rows: auto  auto;
       grid-template-columns: 100%;
      row-gap: 81px;
      align-items: center;
       justify-items: center;
      /*width: 21.1875rem;
       height: 16.3125rem;*/
      
       



    } 
    .main-section-1 {
        display: grid;
        grid-template-rows: auto auto auto auto;
    }

    .main-section-1-h2 {
        display: grid;
        grid-template-columns: 60%;
        justify-items: center;
      
    }

    /*h3 {
        display: grid;
        grid-template-columns: 100%;

    }*/
    .main-section-1-article{
        display: grid;
        grid-template-columns: 98%;
        grid-template-rows: auto auto;
        margin-left: 1.6875rem;
        row-gap: 1.5rem;
    
    }
    .main-section-1-button-text{
        display: grid;
        margin: 0px;
        padding: 0px;
        width: 115px;
        height: 38px;
        justify-items: center;
        align-items: center;
    }
    .footer-grid {
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: auto auto auto auto;
        justify-items: center;

    }
    .footer-adress-email {
    display: grid;
    grid-row: 2;
    justify-items: center;
    }



   
       
        

        
    
}